/*@media (max-width: 1000000px) {}*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
    user-select: none;
}
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.etapas{
    position: absolute;
    width: calc(70% + 26px);
    left: calc(15% - 13px);
    height: 52px;
    top: 15%;

    .barraSimples, .barraProgresso{
        position: absolute;
        left: 0;
        top: 50%;
        height: 5px;
        transition: 600ms;
    }
    .barraSimples{
        background: grey;
        width: 100%;
    }
    .barraProgresso{
        background: cyan;
        width: 0%;
    }
    svg{
        position: absolute;
        width: 52px;
        height: 52px;        
        top: 0px;
        background: #fff;
        padding: -10px;
    }
    .svg25NaoOk, .svg25Ok{
        position: absolute;
        transition: 600ms;
        opacity: 1;
    }
    .svg25Ok{
        fill: green;
    }
    .svg25NaoOk{
        fill: #f00;
    }
}